/* PC */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.g-32 {
    gap: 32px;
}

.g-6 {
    gap: 6px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}